.form-buttons{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-start;
    align-items: center;

    border-top: 2px solid #c7c7c7;
    margin: 15px 30px;
    padding-top: 15px;
}

.button-submit, .button-reset{
    border-radius: .5rem;
    color: white;
    font-size: 1rem;
    font-weight: 560;
    margin: .3em;
    border: 0; 
    text-transform: capitalize;
}

.button-submit{
    background-color: #25b625;
    padding: 1rem 1.5rem;
}

.button-reset{
    background-color: #ff3e3e;
    padding: .8rem 1.1rem;
}